*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
  }
  body{
    line-height: 1.5;
    
    background: black;
  }
  .container{
    max-width: 960px;
    margin: 100px auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 200px 100px;
    gap: 10p;
  }
  .box{
    padding: 20px;
    border: black 5px solid;
  }
  
  .box:nth-of-type(1) {
    background: orangered;
    height: 200px;
    
    
  
  }
  .box:nth-of-type(2) {
    background:green;
      grid-row:2/4
    
  }
  .box:nth-of-type(3) {
    background:orange;
  
  }
  .box:nth-of-type(4) {
    background: skyblue;
    
    
  
  }
  .box:nth-of-type(5) {
    background:skyblue;
  
  }
  .box:nth-of-type(6) {
    background:black;
  }
  .box:nth-of-type(7) {
    background:black;
  }
  .box:nth-of-type(8) {
    background:black;
  }